In [66]:
import pandas as pd

In [82]:
df = pd.read_csv('/Users/roberthanna/Downloads/EPL player stats - Sheet1.csv')

In [85]:
df.head()

,Player,Club,date_of_birth,Height,Position,season
0,Brenden Aaronson,Leeds United,2000,178,MF,2021-01-01
1,Zach Abbott,Nottingham Forest,2006,173,DF,2021-01-01
2,Terry Ablade,Fulham FC,2001,181,FW,2021-01-01
3,Adama Traoré,Wolverhampton Wanderers,1996,178,FW,2021-01-01
4,Ché Adams,Southampton FC,1996,179,FW,2021-01-01

In [84]:
df.Height = df.Height.str.replace('cm', '')

df = df.rename(columns = {"2021-2022":"season",
                        "born":"date_of_birth"})
df.season = df.season.str[0:4]
df.season = pd.to_datetime(df.season, format = '%Y')

df.date_of_birth = pd.to_datetime(df.date_of_birth, format = '%d/%m/%Y').dt.year

In [70]:
club_names = df.Club.unique()
club_names

array(['Leeds United', 'Nottingham Forest', 'Fulham FC',
       'Wolverhampton Wanderers', 'Southampton FC', 'Crystal Palace',
       'Liverpool FC', 'AFC Bournemouth', 'West Ham United',
       'Brentford FC', 'Manchester City', 'Aston Villa',
       'Newcastle United', 'Leicester City', 'Manchester United',
       'Chelsea FC', 'Tottenham Hotspur', 'Brighton & Hove Albion',
       'Everton FC', 'Arsenal FC', 'Norwich City', 'Watford FC',
       'Burnley FC'], dtype=object)

In [21]:
tottenham = df.query('Club == "Tottenham Hotspur"')

In [22]:
tottenham.Height.astype('int')

42      188
63      187
72      182
135     178
138     181
       ...
1205    175
1210    184
1231    184
1289    168
1296    178
Name: Height, Length: 61, dtype: int64